PORT=3000
PORTFOLIO_SERVICE_URL=http://localhost:3001/api/portfolios
NODE_ENV=development
DATABASE_URL=mongodb://mongo:27017/portfolio-tracker
LOG_LEVEL=info
DEBUG_MODE=false
DB_HOST=localhost
DB_USER=root
DB_PASS=example
DB_NAME=portfolio-tracker
